@import "styles/materialize";

@import "pages/home/home";
// @import "pages/login/login";

@media only screen {
    html {
        background: rgb(196, 227, 253);
    }
}

.container {
    // margin-top: 10px;
}

.nav-bar {
    background-color: white;
    
    .right{
        color: rgb(0, 51, 153);
    }

    .brand-logo {
        padding-top: 7px;
    }
}