@import "styles/materialize";

@import "pages/home/home";
// @import "pages/login/login";

.nav-bar {
    background-color: white;
    
    .right{
        color: rgb(0, 51, 153);
    }

    .brand-logo {
        padding-top: 7px;
    }
}